.profile_container {
    background-image: url('https://lep.london/sites/default/files/images/content_box/Silvertown%20Quays.jpg');
    height: 20vh;
    z-index: -1;
}

.profile_navbar {
    color: white;
}

.profile_components {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .profile_components {
        display: grid;
        justify-content: center;
    }
}
