.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container .login_img{
    display: grid;
    justify-content: center;
    align-content: center;
}

.container .login_img img {
    width: 55vw;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .container .login_img {
        display: none;
    }

}