.container {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container .login_component {
    margin: 0 5rem;
}

.container .login_img{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
}

.container .login_img img {
    height: 80vh;
}

.register_container {
    margin: 1rem 0;
}

@media screen and (max-width: 1440px) {
    .container .login_img img {
        height: 100vh;
    }
}

@media screen and (max-width: 1280px) {
    .container .login_component {
        margin: 0 5rem;
        width: 100%;
    }
    .container .login_img img {
        height: 80vh;
        width: 60vw;
    }
}

@media screen and (max-width: 1024px) {
    .container .login_component {
        display: flex;
        justify-content: center;
    }
    .container .login_img {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .container .login_component {
        margin: 0rem 2rem;
    }
    .register_container {
        margin: 1rem 2rem;
    }
}