.hero_container {
    height: 100vh;
}

.Hero_text_container {
    justify-content: center;
    text-align: center;
    top: 0;
    width: 100%;
    color: #fff;
}

.hero_img {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.hero_text {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.hero_text h1 {
    font-weight: 800;
}

.about_container {
    margin: 50px;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_text_heading p {
    font-size: 1.5vw;
}

.about_heading {
    font-size: 6vw;
}
.about_content_text {
    width: 100%;
    font-size: 2vw;
    font-weight: 200;
}

.about_img {
    margin-left: 2.5rem;
}

.how_container {
    text-align: center;
    margin: 100px;
}

.how_text_container {
    margin-top: 50px;
}

.how_cards_container {
    display: flex;
    justify-content: space-around;
}

.how_card {
    width: 20rem;
    margin: 5px;
}

.evemts_resident_container h1 {
    text-align: center;
}

.events_inner_carousel {
    display: grid;
    padding: 1rem;
    margin: 1rem;
}

.events_list_row1 {
    display: flex;
}

.events_resident_card {
    margin: 0 .5rem;
    padding: 0 5rem;
    background: var(--gradientColor);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 1rem;
    border: none;
}

.events_card_title {
    color: white;
    font-weight: 700;
}

.hotelAd_container {
    margin: 5rem;
}

.hotelAd_header {
    margin: 5rem 0 0 0;
    text-align: center;
}

.hotelAd_components_container {
    display: flex;
    justify-content: space-around;
}

.hotelAd_primary_card_container {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 1rem;
}

.hotelAd_primary_card_container img {
    border-radius: 1rem 1rem 0 0;
}

.hotelAd_primary_card_title {
    font-size: 1.5em;
    font-weight: 700;
}

.hotelAd_primary_component {
    max-width: 75%;
    margin-top: 1rem;
}

.hotelAd_secondary_components_container {
    display: grid;
}

.hotelAd_secondary_components_container{
    margin: 1rem;
}

.hotelAd_secondary_card_container {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 1rem;
}

.hotelAd_secondary_card_container img {
    border-radius: 1rem;
}

.hotelAd_secondary_card_header {
    display: flex;
    justify-content: space-evenly;
}

.hotelAd_secondary_card_button {
    margin: 1rem 0;
}

.hotelAd_secondary_card_details {
    display: flex;
    font-size: 1.3em;
}

.toursit_main_container {
    padding: 5rem;
}

.tourit_main_header {
    text-align: center;
}

.tourit_main_header h1 {
    font-size: 7vw;
}

.tourist_searchBar_component {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.tourist_carousel_component {
    padding: 1rem;
}

.tourist_card_container {
    width: 25rem;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
}

.tourist_card_container img {
    border-radius: 1rem 1rem 0 0;
    cursor: grab;
    pointer-events: none;
}

.tourist_searchbar_options button {
    margin: 1rem;
    background: grey;
    border: none;
    opacity: .5;
    transition: .5s;
}

.tourist_searchbar_options button:hover {
    opacity: 1;
    transition: .5s;
}

.toursit_searchbar_container {
    display: flex;
}

.tourist_searchbar_viewAll {
    margin-left: 5rem;
    padding: .5rem 2rem;
}

.review_container {
    margin: 50px;
}

.review_text_container {
    text-align: center;
    margin-top: 50px;
}

.review_card_container {
    display: flex;
    justify-content: space-evenly;
}

.review_card {
    width: 20rem;
    margin: 10px;
}

@media screen and (max-width: 425px) {
    .hero_container {
        height: 30vh;
    }
    .hero_img {
        height: 30vh;
    }
    .hero_text {
        height: 25vh;
    }
    .about_container {
        position: relative;
        text-align: center;
        padding: 2.5rem 0 0 0;
    }
    .about_container::before {
        position: absolute;
        content: "";
        background-color: lightgrey;
        width: 55%;
        height: .2rem;
        left: 0;
        right: 0;
        top: -.5rem;
        margin: auto;
    }
    .about_text_container {
        margin: 0;
    }
    .about_text_heading p {
        font-size: .8em;
    }
    .about_content_text {
        font-size: 1em;
    }
    h2 {
        font-size: 1em;
    }
    .about_heading {
        font-size: 2em;
    }
    .about_img {
        display: none;
    }
    .how_cards_container {
        display: grid;
    }
    .how_card {
        width: 15rem;
    }
    .hotelAd_components_container {
        display: grid;
        justify-content: center;
    }
    .hotelAd_primary_component {
        max-width: 100%;
    }
    .tourist_card_container {
        max-width: 12rem;
    }
    .toursit_searchbar_container {
        display: grid;
    }
    .tourist_searchbar_options {
        display: grid;
    }
    .tourist_searchbar_viewAll {
        margin: 0;
    }
    .review_card_container {
        display: grid;
    }
    .review_card {
        margin: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero_container {
        height: 75vh;
    }
    .hero_img {
        height: 75vh;
    }
    .hero_text {
        height: 50vh;
    }
    .about_container {
        display: grid;
        justify-content: center;
    }
    .about_text_container {
        text-align: center;
    }
    .about_heading {
        text-align: center;
        padding-bottom: 2.5rem;
    }
    .about_img {
        display: none;
    }
    .hotelAd_components_container {
        display: grid;
        justify-content: center;
    }
    .hotelAd_primary_component {
        max-width: 100%;
    }
    .toursit_searchbar_container {
        display: grid;
    }
    .tourist_searchbar_viewAll {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    .tourist_card_container {
        width: 18rem;
    }
}