.filter_container {
    max-width: 100%;
    background-color: var(--secondary);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.filter_innerContainer {
    padding: 1rem;
    width: 20rem;
}

.filter_header {
    display: flex;
    justify-content: space-between;
    margin: var(--margin);
}

.filter_header h2 {
    font-size: 1.5em;
    margin: var(--margin);
}

.filter_header button {
    margin: var(--margin);
}

.search_filter {
    display: flex;
    justify-content: center;
}

.price_filter {
    margin: var(--margin);
}

.price_filter h2 {
    font-size: 1.5em;
}

.price_input_container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.price_input_container button {
    text-align: center;
    background-color: lightgrey;
    color: black;
    border: none;
}

.room_filter {
    margin: var(--margin);
}

.rooms_container h2 {
    font-size: 1.5em;
}

.rooms_input button {
    margin: .5rem;
    width: 50px;
    background-color: transparent;
    color: var(--primary);
}

.rating_filter {
    margin: var(--margin);
}

.options_filter {
    margin: var(--margin);
}

.options_container h2 {
    font-size: 1.5em;
}

.options_list ul {
    list-style: none;
}

.options_list ul li { 
    margin: .5rem 0;
}

.card_img {
    width: 400px;
    height: 400px;
}

.card_container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_inner_container {
    display: flex;
}

.card_title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_icon_cotainer {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
    .filter_container {
        font-size: .75em;
    }
    .options_list ul {
        display: flex;
    }
    .card_img {
        display: none;
    }
    .card_text {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {
    .filter_header {
        display: grid;
    }
    .price_input_container input {
        width: 50%;
        border-radius: 1rem;
        text-align: center;
    }
    .card_img {
        display: none;
    }
}