.container {
    margin: 1rem 0rem 1rem 0rem;
}

.header {
    padding-bottom: 5rem;
}

.header_img {
    height: 150px;
    width: 300px;
}

.login_header h1 {
    font-weight: 900;
}

.register_btn {
    display: flexbox;
}

.register_btn .btn {
    margin-bottom: 1rem;
}

.register_btn .btn button {
    width: 100%;
    padding: 1rem 0 1rem 0;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    border: none;
    color: black;
    font-size: 1.1em;
    transition: .5s;
}

.register_btn .btn button:hover {
    opacity: 0.8;
    transition: .5s;
}

.checkBox_group {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.form_btn button {
    width: 100%;
    background: linear-gradient(90deg, rgba(4,74,254,1) 0%, rgb(64, 113, 248) 35%, rgb(40, 163, 245) 100%);
    border: none;
    opacity: 0.75;
    transition: .5s;
}

.form_btn button:hover {
    transition: .5s;
    opacity: 1;
}

footer {
    padding-top: 10rem;
    opacity: 0.5;
}

.register_container {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.register_header_img {
    height: 150px;
    width: 300px;
}

.register_header {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 5rem;
    }
    .header_img {
        height: 100px;
        width: 200px;
    }
    .login_header h1 {
        font-size: 1.75em;
    }
    .login_header p {
        font-size: .75em;
    }
    .register_btn {
        display: flexbox;
    }
    .register_btn .btn {
        margin-bottom: 1rem;
    }
    .register_btn .btn button {
        padding: .5rem 0 .5rem 0;
    }
    .checkBox_group {
        font-size: .75em;
        margin: 0;
    }
    footer {
        padding-top: 5rem;
    }
}
